.dashboard {
    &__server-settings {
        display: flex;
        gap: 1rem;
        justify-content: center;
        width: 100%;

        > * {
            flex: 1 1 0;
            min-width: 0;
            max-width: 20%;
        }
    }
}
