*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

$background-100: #2d3639;
$background-200: #283033;
$background-300: #232a2d;
$background-400: #1f2427;
$background-500: #181d1f;

$primary-100: #4a90e2;
$primary-200: #357abd;
$primary-300: #2d5f8c;
$primary-400: #244563;
$primary-500: #1c2a3b;

:root {
    --background-100: #{$background-100};
    --background-200: #{$background-200};
    --background-300: #{$background-300};
    --background-400: #{$background-400};
    --background-500: #{$background-500};

    --primary-100: #{$primary-100};
    --primary-200: #{$primary-200};
    --primary-300: #{$primary-300};
    --primary-400: #{$primary-400};
    --primary-500: #{$primary-500};

    --color-green: #27ae60;
    --color-orange: #e67e22;
    --color-red: #e74c3c;
    --color-white: #ffffff;
    --color-light-gray: #b5b5b5;

    --primary-font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--background-300);
}

.component {
    box-sizing: border-box;
    background-color: var(--background-200);
    border-radius: 8px;
    padding: 16px 24px;
    margin-top: 12px;
    font-family: var(--primary-font-family);
    color: #ffffff;
    width: fit-content;
    max-width: 100%;

    &__content {
        padding: 12px 0;

        .stat {
            display: flex;
            justify-content: space-evenly;
            gap: 15px;

            &__main {
                font-size: 25px;
            }

            &__secondary {
                font-size: 14px;
                color: var(--color-light-gray);
            }

            .green {
                color: var(--color-green);
            }

            .orange {
                color: var(--color-orange);
            }

            .red {
                color: var(--color-red);
            }

            .white {
                color: var(--color-white);
            }

            .light-gray {
                color: var(--color-light-gray);
            }
        }
    }

    p {
        text-align: center;
    }
}
