nav {
    display: flex;
    justify-content: center;

    .nav__item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        flex: 0 0 1;
        border-radius: 0.5rem;
        text-decoration: none;
        transition: transform 0.2s ease;

        img {
            height: 1.8rem;
            width: 1.8rem;
            display: block;
        }

        p {
            color: var(--color-light-gray);
            font-size: 1rem;
            font-weight: 500;
            margin: 0;
        }

        &:hover {
            transform: translateY(-2px);
        }

        &.active,
        p.active {
            color: var(--color-white);
        }
    }
}
